# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/slnx.sqlite
/.vs/TeachTrack/config/applicationhost.config
/.vs/TeachTrack/FileContentIndex/ef82103b-5fe1-45a7-938f-d13e201f8eb5.vsidx
/.vs/TeachTrack/v17/.wsuo
/.vs/TeachTrack/v17/DocumentLayout.backup.json
/.vs/TeachTrack/v17/DocumentLayout.json
/.vs/TeachTrack/FileContentIndex/f24f8a7b-1f17-4490-8568-a539b6968e7d.vsidx
/.vs/slnx.sqlite-journal
/.vs/TeachTrack/FileContentIndex/6fe6ae9a-7a18-4242-b3be-dd73a8e63361.vsidx
/.vs/TeachTrack/FileContentIndex/0b71560c-74d0-437b-89a5-da8d014687a6.vsidx
/.vs/TeachTrack/FileContentIndex/944588a6-c267-4a96-95ef-a283ee8753fc.vsidx
/.vs/TeachTrack/FileContentIndex/c11413b3-1c85-405d-8659-aa75dcce3335.vsidx
/.vs/TeachTrack/FileContentIndex/0bd2f45a-923c-4158-a217-2eeefc25386d.vsidx
/.gitignore
/.gitignore
/.vs/TeachTrack/FileContentIndex/8054a1d4-3a15-4dce-b9cc-b15d2fb0046d.vsidx
/.vs/TeachTrack/FileContentIndex/b0c4ec48-704c-4024-9cf1-3e301f312446.vsidx
/.vs/TeachTrack/FileContentIndex/bb99d14f-38ba-4bb0-b718-c6a9ebc3b441.vsidx
/.vs/TeachTrack/FileContentIndex/cb581b97-f29d-4692-a59c-e48b8f7dc413.vsidx
/.vs/TeachTrack/FileContentIndex/dfa5d544-2d84-4362-95c4-e509b7af189a.vsidx
/.vs/TeachTrack/FileContentIndex/2697e17e-2abb-4cfe-9ac3-98416d386d7e.vsidx
/.vs/TeachTrack/FileContentIndex/65f91f06-db3e-4eaf-a2b7-d9688f096a5e.vsidx
/.vs/TeachTrack/FileContentIndex/70c5d1a8-ba3a-471c-aeee-3e47db4b6572.vsidx
/.vs/TeachTrack/FileContentIndex/860e1683-d2b2-40b5-924a-cff606cd8927.vsidx
/.vs/TeachTrack/FileContentIndex/cd0e960a-6108-4ab5-b3cc-f56085a53e23.vsidx
/.vs/TeachTrack/FileContentIndex/2ba36fbd-2721-42bd-b9b7-d300945e2447.vsidx
/.vs/TeachTrack/FileContentIndex/318f72a1-b79b-49d8-98fe-40f6dcf68fe8.vsidx
/.vs/TeachTrack/FileContentIndex/75c2f8d5-4c83-407c-9efc-313f85874fec.vsidx
/.vs/TeachTrack/FileContentIndex/f4d45cfb-2e02-46ee-af17-8d5e3777a308.vsidx
/.vs/VSWorkspaceState.json
/.vs/TeachTrack/FileContentIndex/5b3bf391-9392-43c7-babb-003479fddd87.vsidx
/.vs/TeachTrack/FileContentIndex/79e16bed-e7a0-4de9-a651-df33914a53e3.vsidx
/.vs/TeachTrack/FileContentIndex/ae3820f6-b8e1-4ade-8c45-724918d1452b.vsidx
/.vs/TeachTrack/FileContentIndex/b1a26728-ab8a-4a1e-94b3-7d622598bf24.vsidx
/.vs/TeachTrack/FileContentIndex/a4bd5a1c-662b-4051-8062-14e1eb156986.vsidx
/.vs/TeachTrack/FileContentIndex/ad1591bb-b36c-4557-81ed-ecc9692ad6fc.vsidx
/.vs/TeachTrack/FileContentIndex/b9337052-53dc-435f-95ac-a92eed37abf6.vsidx
/.vs/TeachTrack/FileContentIndex/625e6c8e-2c9d-42c5-942f-80ab9a948d9e.vsidx
/.vs/TeachTrack/FileContentIndex/67893881-216e-4a5a-b54b-8dc94b9dd25b.vsidx
/.vs/TeachTrack/FileContentIndex/752d1ad0-5c1d-4d81-a5ab-8895ae18d4a8.vsidx
/.vs/TeachTrack/FileContentIndex/b5bbf88d-3274-4418-acd0-b1f3518b1015.vsidx
/.vs/TeachTrack/FileContentIndex/be7f7db2-4f11-422a-9765-9b20633183a2.vsidx
/.vs/TeachTrack/FileContentIndex/12081dd9-90d6-42db-b336-b50495dd35e7.vsidx
/.vs/TeachTrack/FileContentIndex/72f4d143-d072-448e-a988-4c8c9543c54b.vsidx
/.vs/TeachTrack/FileContentIndex/9b3c338b-e1b5-4e37-b549-ea2fed1467a1.vsidx
/.vs/TeachTrack/FileContentIndex/dbe7fe49-da61-4d65-ad0d-ed6322aa717a.vsidx
/.vs/TeachTrack/FileContentIndex/efe5d254-7a99-4674-9dc4-1f89e841f543.vsidx
