.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

  .nav-link:last-child {
    margin-right: 0;
  }

nav {
  display: flex;
}

.active {
  border-bottom: 2px solid #eab308;
  transform: scale(1.1);
  transition: border-bottom 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

/* Make the nav bar fixed */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Add padding to the content to prevent it from hiding under the fixed navbar */
.content-wrapper {
  padding-top: 80px; /* Adjust this value based on the height of your navbar */
  overflow-y: auto;
}
